**/vault.yml
**/secrets.yml
*.vault
ansible/collections/
ansible/inventory/hosts.auto.yml
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
*.pem
!ansible/roles/certs/files/.gitkeep
*.ansible
**/__pycache__
scripts/vm/result.csv
ansible/artifacts/qatbench_observability/*.tar.gz
*~