{# This file maps the urls to the condition if insecure is redirected #}
{% set haproxy_domain_regex = haproxy_domain | replace('.', '\\.') %}
^nginx-http\.apps\.{{ haproxy_domain_regex }}\.?(:[0-9]+)?(/.*)?$ 0
^nginx-edge\.apps\.{{ haproxy_domain_regex }}\.?(:[0-9]+)?(/.*)?$ 0
^nginx-passthrough\.apps\.{{ haproxy_domain_regex }}\.?(:[0-9]+)?(/.*)?$ 0
^nginx-reencrypt\.apps\.{{ haproxy_domain_regex }}\.?(:[0-9]+)?(/.*)?$ 0
