{# This file maps the urls to the condition if the route is passthrough #}
{% set haproxy_domain_regex = haproxy_domain | replace('.', '\\.') %}
^nginx-passthrough\.apps\.{{ haproxy_domain_regex }}$ 1
